html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  font-size: 112.5%;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  width: 95%;
}

html {
  margin: 0;
  padding: 0;
  font-size: 112.5%;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 0.8rem;
  font-weight: 300;
  color: hsl(0deg, 0%, 59%);
  text-align: start;
  margin-left: 12px;
}

p {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: start;
  margin-left: 12px;
  margin-top: 2px;
  margin-bottom: 1px;
}

header {
  background-image: url(../images/pattern-bg.png);
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.header {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

main {
  position: relative;
}

.main-container {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
}

.container {
  display: flex;
  flex-direction: revert;
  width: 71%;
  height: 146px;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  z-index: 30;
  position: relative;
  top: -71px;
}

#map {
  height: 77vh;
  width: 100%;
  z-index: 2;
  margin-top: -147px;
}

.map {
  position: relative;
}

form {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

input {
  width: 50%;
  border-radius: 13px 0 0 13px;
  height: 50px;
  padding-top: 5px;
  padding-left: 15px;
  border: none;
}

button {
  width: 6%;
  border-radius: 0 13px 13px 0;
  height: 50px;
  padding-top: 5px;
  padding-left: 15px;
  border: none;
  background-color: black;
  margin-left: -5px;
  padding-right: 11px;
}

footer {
  position: relative;
}

.attribution {
  padding-bottom: 10px;
  position: relative;
  bottom: -40px;
  font-size: 11px;
  text-align: center;
  height: 29px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  top: 80vh;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.data {
  width: 20%;
  border-left: 0.2rem hsl(0deg, 0%, 59%) solid;
  max-height: 65%;
  margin-left: 21px;
}

@media (max-width: 737px) {
  .wrapper {
    max-width: 737px;
    width: 96%;
  }

  header {
    height: 22vh;
  }

  input {
    width: 75%;
  }

  button {
    width: 13%;
  }

  .container {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 22px;
    width: 77%;
    top: -176px;
  }

  #map {
    margin-top: -355px;
  }

  .data {
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    margin: 5px auto;
    padding-bottom: 5px;
  }
}/*# sourceMappingURL=styles.css.map */